#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  padding-right: 10px;
  width: 80px;
}

#nav-bar .header {
  color: #e8fdff;
  float: left;
  font-size: 200%;
  line-height: 80px
}

#nav-bar .right-side {
  float: right;
  line-height: 80px;
}

#nav-bar .right-side .compose {
  background-color: #E1FEFF;
  border-color: #000000;
  border-radius: 5px;
  color: #00A789;
  line-height: 60px;
  padding: 0;
  width: 100px;
}

#nav-bar .compose:hover {
  background-color: #FFFFFF;
  color: #000000;
}