.new-tweet {
  padding: 10px;
  background-color: #eaeaea;
  margin: 0 2em;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  border-radius: 5px;
}

.counter {
  float: right;
}

textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet h2 {
  border-bottom-style: solid;
  border-width: 1px;
  margin: 0 0 20px 0;
}

.exceeded {
  color: #ba0000;
}