#tweet-feed {
  padding-top: 20px;
}

#tweet {
  background-color: white;
  border-color: #d0d0d0;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 8px 2em;
  overflow: hidden;
}

#tweet:hover footer img {
  display: block;
}

#tweet footer img {
  display: none;
}

#tweet header {
  background-color: #eaeaea;
  color: #5F7F86;
  height: 80px;
  padding: 10px;
}

#tweet header img {
  border-radius: 5px;
  float: left;
  height: 60px;
  line-height: 80px;
  overflow: hidden;
  width: 60px;
}

#tweet h2 {
  float: left;
  margin: 0;
  padding-left: 5px;
}

#tweet p {
  float: right;
  margin-top: 5px;
}

#tweet footer {
  background-color: #FFFFFF;
  border-color: #EEEEEE;
  border-top-style: solid;
  border-width: 1px;
  color: #3C6770;
  overflow: hidden;
  padding: 10px;
}

#tweet time {
  float: left;
}

#tweet footer img {
  float: right;
  height: 17px;
}

#tweet div {
  color: #3C6770;
  font-size: 150%;
  margin: 20px;
}
