#tweet-feed {
  padding-top: 20px;
}

#tweet {
  background-color: white;
  margin: 8px 2em;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  border-radius: 5px;
  overflow: hidden;
}

#tweet:hover footer img {
  display: block;
}

#tweet footer img {
  display: none;
}

#tweet header {
  background-color: #eaeaea;
  padding: 10px;
  height: 80px;
  color: #5F7F86;
}

#tweet header img {
  height: 60px;
  width: 60px;
  float: left;
  line-height: 80px;
  border-radius: 5px;
  overflow: hidden;
}

#tweet h2 {
  float: left;
  margin: 0;
  padding-left: 5px;
}

#tweet p {
  float: right;
}

#tweet footer {
  border-top-style: solid;
  border-width: 1px;
  border-color: #EEEEEE;
  color: #3C6770;
  padding: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
}

#tweet time {
  float: left;
}

#tweet footer img {
  float: right;
  height: 17px;
}

#tweet div {
  color: #3C6770;
  margin: 20px;
  font-size: 150%;
}
